<% if @movie.current_customer %>
  <p>Customer: <%= @movie.current_customer.name %></p>
<% else %>
  <p>No customer has rented this movie.</p>
<% end %>
<%= form_with url: rentals_path do |form| %>
  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.collection_select :customer_id, Customer.all, :id, :name %>
  <%= form.submit "Rent Movie" %>
<% end %>
