<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <table class="table table-bordered"> 
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td>
            <% if customer.movie %>
              Tiene arrendada la película: <%= customer.movie.name %>
            <% else %>
              No tiene ninguna película arrendada.
            <% end %>
          </td>
          <td>
            <%= link_to "Show", customer, class: "btn btn-primary" %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New customer", new_customer_path, class: "btn btn-success" %> 

